.audio {
  position: relative;
  @include flex(center, center);
  min-width: 300px;
  z-index: 1;
  &__mobile {
    position: relative;

    font-size: 1.6rem;
    color: $white-color;
    width: 50px;
    height: 50px;
    @include flex(center, center);
    .bx-aperture {
      transform: rotate(0);

      &:hover {
        transform: rotate(45deg);
        transition: all 0.3s ease;
      }
    }
    .audio {
      transform: translateX(-200%);
      transition: transform 0.5s ease;
      &__progress {
        top: 0;
        width: 100vw;
      }
    }
  }
  &__mobile:not(.active) {
    .audio {
      transform: translateX(-200%);
      opacity: 0;
    }
  }
  &__mobile.active {
    .audio {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__title {
    position: absolute;
    margin: 10px 0;
    top: 100%;
    left: 50%;
    min-width: 150px;
    transform: scaleY(0) translateX(-50%);
    transition: all 0.3s ease-in-out;
    transform-origin: center top;
    font-size: 1rem;
    background: #31383e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  &__repeat {
    position: absolute;
    right: -30%;
    font-size: 1.6rem;
    background: unset;
    color: $white-color;
    cursor: pointer;
    border: none;
    &:hover {
      color: $primary-color;
    }
  }
  &__repeat.active {
    color: $clr-neon;
  }
  .volume__icon.active {
    .volume__mute {
      display: none;
    }
  }
  .volume__icon:not(.active) {
    .volume__active {
      display: none;
    }
  }
  .volume__icon {
    @include flex(center, center);
  }
  &__volume {
    cursor: pointer;
    position: absolute;
    right: -100%;
    bottom: 50%;
    transform: translateY(50%);
    @include flex(center, center);

    input {
      height: 4px;
      cursor: pointer;
      margin-left: 4px;
      padding: 0;
      overflow: hidden;
    }
  }
  &__progress {
    cursor: pointer;
    position: fixed;
    right: 0;
    left: 0;
    top: 5rem;
    height: 2px;
    padding: 0;
    transition: opacity 0.2s;
    overflow: hidden;
  }
  audio {
    border-radius: none;
    color: $white-color;
    background: $black-color;
  }
  .btn {
    width: 36px;
    height: 36px;
    color: $clr-bg;
    background: $black-color;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    opacity: 1;
    &:hover {
      color: $primary-color;
    }
  }
  &__box {
    position: relative;
    width: 50px;
    height: 50px;
    background: $white-color;
    @include flex(center, center);
    border-radius: 50%;

    &::after {
      content: " ";
      position: absolute;
      left: -5px;
      bottom: -5px;
      right: -5px;
      top: -5px;
      border-radius: 50%;
      -webkit-animation: audio 1s infinite;
      animation: audio 1s infinite;
      z-index: 3;
      background: $clr-bg;
    }
    .btn__audio {
      position: relative;
      z-index: 5;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include flex(center, center);
      background: $second-color;
    }
    i {
      font-size: 1.6rem;
    }
    &:hover {
      i {
        color: $primary-color;
      }
    }
  }
  &__info {
    position: absolute;
    left: -50%;
    bottom: 0;
    background: unset;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
    color: $white-color;
    border: none;
    &:hover {
      color: $primary-color;
      .audio__title {
        font-size: 1rem;
        transform: scaleY(1) translateX(-50%);
      }
    }
  }
}

@-webkit-keyframes audio {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes audio {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
