.box {
  position: relative;
  background: rgb(167, 125, 125);
  width: 600px;
  height: 600px;
  margin: 5rem 2rem 0 2rem;
  @include flex(center, center);
  flex-direction: column;
  box-shadow: 0 0 0.35rem rgba($black-color, 0.15);
  &__header {
    flex: 3;
  }
  &__body {
    width: 100%;
    flex: 1;
    @include flex(center, space-around);
  }
  &__overlay {
    background: $white-color;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 50%;
    box-shadow: 0 0 0.35rem rgba($black-color, 0.3);
    transition: transform 0.3s linear;
    transform: translateY(100%);
    transform-origin: center top;
  }
  &__overlay.active {
    transform: translateY(0);
    transform-origin: center top;
  }
}
