@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: $black-color;
  color: $white-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

a {
  color: unset;
  text-decoration: none;
}
p {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  margin: 5px 10px;
}
ul,
li {
  list-style-type: none;
}

input {
  padding: 10px 20px;
  outline: none;
  border-radius: 4px;
}
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  // background: $white-color;
  height: 0.5rem;
}
// /******** Firefox ********/
input[type="range"]::-moz-range-track {
  // background: $white-color;
  height: 0.5rem;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  width: 1rem;
}
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; 
  border-radius: 0; 
  height: 4px;
  width: 1rem;
}
