$primary-color: #00dbde;
$second-color: #161616;
$third-color: #e013d6;
$danger-color: #ff2525;
$black-color: #000;
$white-color: #fff;
$text-gradient: linear-gradient(
  109.6deg,
  rgba(61, 245, 167, 1) 11.2%,
  rgba(9, 111, 224, 1) 91.1%
);

$clr-bg: #fc00ff;
$clr-neon: #fc00ff;
